GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=panoptes2026
TELEGRAM_BOT_TOKEN=BOT_TOKEN
TELEGRAM_CHAT_ID=CHAT_ID
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=panoptesalertsada@gmail.com
SMTP_PASSWORD=PASSWORD
DOMAIN=panoptes.sahmar.org
